body{
    background-color: black;
    color: white;
}
.app{
    width: 60%;
    margin: auto;
}
.main-heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user{
    display: flex;
    align-items: center;
}
.username{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 25px;
}
.login-btn{
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-elem{
    text-decoration: none;
    margin: 0 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input-area{
    width: 100%;
}
.input{
    border: 1px solid white ;
    margin: 5px;
    height: 30px;
    width: 90%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 3px;
}

.input:focus{
    outline-style: none;
}